<web-app>
    <servlet>
        <servlet-name>AuthServ</servlet-name>
        <servlet-class>AuthServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServ</servlet-name>
        <url-pattern>/Auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminAuthServ</servlet-name>
        <servlet-class>AdminAuthServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAuthServ</servlet-name>
        <url-pattern>/AdminAuth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServ</servlet-name>
        <servlet-class>HomeServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServ</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminMemListServ</servlet-name>
        <servlet-class>AdminMemListServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminMemListServ</servlet-name>
        <url-pattern>/EmployeeUnderAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminHomeServ</servlet-name>
        <servlet-class>AdminHomeServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminHomeServ</servlet-name>
        <url-pattern>/AdminHome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmpSignUp</servlet-name>
        <servlet-class>EmployeeSignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpSignUp</servlet-name>
        <url-pattern>/ESignUp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminSignUp</servlet-name>
        <servlet-class>AdminSignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSignUp</servlet-name>
        <url-pattern>/AdSignUp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MasterAdminListServ</servlet-name>
        <servlet-class>MasterAdminListServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MasterAdminListServ</servlet-name>
        <url-pattern>/MasterAdminList</url-pattern>
    </servlet-mapping>   
    <servlet>
        <servlet-name>MemberRequestInfoServ</servlet-name>
        <servlet-class>MemberRequestInfoServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberRequestInfoServ</servlet-name>
        <url-pattern>/MemberRequestInfo</url-pattern>
    </servlet-mapping> 
</web-app>